@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Header = "The Joel Hilton Film Collection";
}

<div>
    <p>Welcome! My name is Joel Hansen. I created this page to document and share my love for movies!</p>
    <img src="~/JoelHilton.jpg" width="500"/>
</div>
