@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Podcasts";
    ViewBag.Header = "My Podcasts";
}

<div>
    <p>For a more complete list of my podcasts, please visit <a href="https://baconsale.com/" style="color:#bd9a24">www.baconsale.com</a></p>
    <a href="https://baconsale.com/" target="_blank"><img src="~/baconsale.png" class="zoom" width="1000" /></a>
</div>
