@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Enter New Movies";
    ViewBag.Header = "Enter a new movie";
}

@model MoviesApp.Models.NewMovies

<div>
    <p>Enter your new movies here to have them appear in the database!</p>

    <form asp-action="NewMovies" method="post">

        @*All data to enter a new movie*@
        <div class="table">
            <label asp-for="Category">Category</label>
            <input asp-for="Category" /><br />

            <label asp-for="Title">Title</label>
            <input asp-for="Title" /><br />

            <label asp-for="Year">Year</label>
            <input asp-for="Year" type="number" /><br />

            <label asp-for="Director">Director</label>
            <input asp-for="Director" /><br />

            @* The default value (Select One) will be "N/A" *@
            <label asp-for="Rating">Rating</label>
            <select asp-for="Rating">
                <option value="">Select One</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select><br />

            @* The default value (Select One) will be "No" *@
            <label asp-for="Edited">Edited?</label>
            <select asp-for="Edited">
                <option>Select One</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br />

            <label asp-for="LentTo">Lent To</label>
            <input asp-for="LentTo" /><br />

            <label asp-for="Notes">Notes</label>
            <input asp-for="Notes" /><br /><br />

            <button type="submit" class="btn btn-primary">Save Movie</button>
        </div>
    </form>
</div>
